.player-name {
  margin: auto;
  font-weight: bold;
  text-align: center;
}

.circle {
  height: 90px;
  width: 90px;
  margin: 10px;
  vertical-align: middle;
  font-size: medium;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
}

.neutral {
  background-color: lightslategray;
}

.good-guess {
  background-color: limegreen;
}

.pos {
  font-size: larger;
}

.born {
  font-size: larger;
}

.td {
  vertical-align: middle;
}
